# This work is marked CC0 1.0 Universal.  To view a copy of this mark,
# visit https://creativecommons.org/publicdomain/zero/1.0/.

# Override the top-level exclusion as the folder containing CI
# guidance shares its name with a temporary directory.
!build/
